# **Data Cleaning**

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
cwd = os.getcwd()

df = pd.read_csv(cwd+"/BA_reviews.csv", index_col=0)

In [3]:
#Create column 'verified' to identify which user is verified 
df['verified'] = df.reviews.str.contains("Trip Verified")

## **Cleaning Reviews**

In [4]:
#Remove 'Trip Verified' and 'Not Verified' 
df['reviews'] = df['reviews'].apply(lambda x: x.split('|')[-1].strip())

In [5]:
df.head()

,reviews,rating_star,date,country,seat_rating,staff_rating,food_beverage_rating,ground_service_rating,recommendation,verified
0,I booked our first out of country trip to take...,5,8th June 2023,United States,3,4,3,1,no,True
1,My husband and I booked seats within our premi...,1,7th June 2023,United Kingdom,4,4,5,5,no,True
2,"May 3, flew from Seattle to Heathrow then to E...",4,6th June 2023,United States,4,4,1,2,no,False
3,I went through three flights to reach my desti...,1,6th June 2023,Greece,2,5,4,5,no,True
4,An excellent flight in Club World on British A...,2,6th June 2023,United Kingdom,4,5,3,4,yes,True

## **Cleaning Format Date**

In [6]:
df.dtypes

In [7]:
df.date = pd.to_datetime(df.date)

In [8]:
df.dtypes

In [9]:
df.head()

,reviews,rating_star,date,country,seat_rating,staff_rating,food_beverage_rating,ground_service_rating,recommendation,verified
0,I booked our first out of country trip to take...,5,2023-06-08,United States,3,4,3,1,no,True
1,My husband and I booked seats within our premi...,1,2023-06-07,United Kingdom,4,4,5,5,no,True
2,"May 3, flew from Seattle to Heathrow then to E...",4,2023-06-06,United States,4,4,1,2,no,False
3,I went through three flights to reach my desti...,1,2023-06-06,Greece,2,5,4,5,no,True
4,An excellent flight in Club World on British A...,2,2023-06-06,United Kingdom,4,5,3,4,yes,True

In [14]:
#Check for unique values
df.rating_star.unique()

In [13]:
df.rating_star.value_counts()

## **Check for null values**

In [21]:
df.isnull().value_counts()

In [18]:
df.head()

,reviews,rating_star,date,country,seat_rating,staff_rating,food_beverage_rating,ground_service_rating,recommendation,verified
0,I booked our first out of country trip to take...,5,2023-06-08,United States,3,4,3,1,no,True
1,My husband and I booked seats within our premi...,1,2023-06-07,United Kingdom,4,4,5,5,no,True
2,"May 3, flew from Seattle to Heathrow then to E...",4,2023-06-06,United States,4,4,1,2,no,False
3,I went through three flights to reach my desti...,1,2023-06-06,Greece,2,5,4,5,no,True
4,An excellent flight in Club World on British A...,2,2023-06-06,United Kingdom,4,5,3,4,yes,True

In [19]:
df.tail()

,reviews,rating_star,date,country,seat_rating,staff_rating,food_beverage_rating,ground_service_rating,recommendation,verified
2665,Flying out on Sunday received call from BA say...,8,2015-08-11,United Kingdom,1,5,3,4,yes,False
2666,"Where shall I start, 4 hours delay or the days...",1,2015-08-11,Italy,2,5,2,5,no,False
2667,This was my first time on a long haul flight w...,3,2015-08-11,Ireland,2,3,0,5,yes,False
2668,I fly 95% for pleasure and often take advantag...,1,2015-08-11,United Kingdom,2,5,1,3,yes,False
2669,Staff was helpful in both cities. The plane wa...,10,2015-08-11,United States,1,5,5,5,yes,False

In [20]:
df.to_csv("BA_reviews_cleaned.csv")